<div class="col-xs-12">
    <div class="well">

        <div class="row">
            <div class="col-xs-6 col-sm-2">
                <div class="form-group">
                    <select class="form-control" data-ng-model="endpoint.method" data-ng-options="value for (key, value) in Method" required></select>
                </div>
            </div>
            <div class="col-xs-6 col-sm-2 col-sm-push-8">
                <div class="pull-right" data-ng-transclude></div>
            </div>
            <div class="col-xs-12 col-sm-8 col-sm-pull-2">
                <div class="form-group">
                    <input class="form-control" type="text" data-ng-model="endpoint.path" placeholder="/teams/{teamId}/v1?size={size}" required>
                </div>
            </div>
        </div>

        <div class="row" data-ng-show="methodHasRequestBody()">
            <div class="col-xs-12">
                <h4>Request</h4>
            </div>
            <div class="col-xs-12">
                <div class="form-group">
                    <label>Description</label>
                    <input class="form-control" type="text" data-ng-model="endpoint.request.description">
                </div>
            </div>
            <div class="col-xs-12">
                <div class="form-group">
                    <label>Body schema</label>
                    <input class="form-control" type="text" data-ng-model="endpoint.request.schema" placeholder="SearchParametersV1">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <h4>Response</h4>
            </div>
            <div class="col-xs-12 col-sm-4">
                <div class="form-group">
                    <label>Status code *</label>
                    <select class="form-control" data-ng-model="endpoint.response.status" data-ng-options="status as statusLabel(status) for (key, status) in Status" required></select>
                </div>
            </div>
            <div class="col-xs-12 col-sm-8">
                <div class="form-group">
                    <label>Description *</label>
                    <input class="form-control" type="text" data-ng-model="endpoint.response.description" required>
                </div>
            </div>
            <div class="col-xs-12" data-ng-show="responseStatusHasBody()">
                <div class="form-group">
                    <label>Body schema</label>
                    <input class="form-control" type="text" data-ng-model="endpoint.response.schema" placeholder="TeamV1">
                </div>
            </div>
            <div class="col-xs-12">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" data-ng-model="endpoint.response.locationHeader"> Location header
                    </label>
                </div>
            </div>
        </div>

    </div>
</div>