<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SwaggerTron 3000</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="bootstrap-overrides.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="angular.js"></script>
</head>
<body data-ng-app="app" data-ng-cloak>
<div class="container-fluid" data-ng-controller="Editor">
    <h1 class="text-primary">SwaggerTron 3000</h1>

    <form name="apiForm" novalidate>

        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <div class="form-group">
                    <label for="field-title">Title *</label>
                    <input class="form-control" type="text" id="field-title" data-ng-model="api.title" placeholder="My API" required>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6">
                <div class="form-group">
                    <label for="field-version">Version *</label>
                    <input class="form-control" type="text" id="field-version" data-ng-model="api.version" required>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-sm-12">
                <div class="form-group">
                    <label for="field-consumes">Description</label>
                    <input class="form-control" type="text" id="field-consumes" data-ng-model="api.description">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <div class="form-group">
                    <label for="field-platform">Platform *</label>
                    <select class="form-control" id="field-platform" data-ng-model="api.platform" data-ng-options="value for (key, value) in Platform"></select>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6">
                <div class="form-group">
                    <label for="field-auth-type">Auth type *</label>
                    <select class="form-control" id="field-auth-type" data-ng-model="api.authType" data-ng-options="value for (key, value) in AuthType" disabled></select>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <div class="form-group">
                    <label for="field-host">Host *</label>
                    <input class="form-control" type="text" id="field-host" data-ng-model="api.host" placeholder="example.pioneer.io" required>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6">
                <div class="form-group">
                    <label for="field-service-name">Service name *</label>
                    <input class="form-control" type="text" id="field-service-name" data-ng-model="api.serviceName" placeholder="pioneer-example" required>
                </div>
            </div>
        </div>

        <h5 data-ng-show="api.paths.length">Paths</h5>
        <div class="row" data-ng-repeat="endpoint in endpoints track by $index">
            <endpoint data-endpoint="::endpoint">
                <button class="btn btn-warning" data-ng-click="cloneEndpoint(endpoint)"><span class="glyphicon glyphicon-duplicate"></span></button>
                <button class="btn btn-danger" data-ng-click="removeEndpoint(endpoint)"><span class="glyphicon glyphicon-remove"></span></button>
            </endpoint>
        </div>

        <div class="row" style="margin-bottom: 20px">
            <div class="col-xs-12">
                <button class="btn btn-success" data-ng-click="addEndpoint()"><span class="glyphicon glyphicon-plus"></span> Add a path</button>
                <button class="btn btn-primary pull-right" data-ng-disabled="(!endpoints.length) || apiForm.$invalid" data-ng-click="generateSwagger()"><span class="glyphicon glyphicon-play"></span> Generate Swagger</button>
            </div>
        </div>

    </form>

    <div class="row" data-ng-show="::swagger">
        <div class="col-xs-12">
            <pre data-ng-bind="swagger"></pre>
        </div>
    </div>
</div>

<script src="app.js"></script>
<script src="editor-controller.js"></script>
<script src="endpoint-directive.js"></script>
<script src="constants-service.js"></script>
<script src="swaggergenerator-service.js"></script>
</body>
</html>