<div class="row">
    <div class="col-sm-12">
        <div class="well well-light">
            <div class="row">
                <div class="col-sm-12" style="margin-top: -10px; margin-bottom: 10px">
                    <h4>
                        <span class="label" data-ng-class="::method.meta.labelClass">{{ ::method.meta.label }}</span>
                        <button class="btn btn-default pull-right" data-ng-click="showOptionalFields = !showOptionalFields"><span class="glyphicon glyphicon-option-horizontal"></span></button>
                    </h4>
                </div>
                <div class="col-sm-12">
                    <div class="form-group">
                        <label>Success code</label>
                        <select class="form-control" data-ng-model="method.meta.responseCode" data-ng-options="code.value as code.label for code in SUCCESS_RESPONSE_CODES"></select>
                    </div>
                </div>
                <div data-ng-show="showOptionalFields">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label>Description (optional)</label>
                            <input class="form-control" type="text" data-ng-model="method.description">
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6" data-ng-if="::method.meta.consumes">
                        <div class="form-group">
                            <label>Consumes (optional)</label>
                            <input class="form-control" type="text" data-ng-model="method.consumes">
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <div class="form-group">
                            <label>Produces (optional)</label>
                            <input class="form-control" type="text" data-ng-model="method.produces">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>